/.bundle/
/.yardoc
/Gemfile.lock
/.ruby-version
/.ruby-gemset
/.env.test
/.env
/examples/.env
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/failed_specs.log
/tmp/
*.gem
*.bundle
*.pem
*.so
*.o
*.a
mkmf.log
